:root {
    --twc-gray-850: 240 ,5.7% ,82.9%;
    --twc-gray-900: 240, 5.9%, 90%;
    --twc-gray-950: 240, 4.8%, 95.9%;
    --tw-bg-opacity: 1; /* Adjust the opacity as needed */
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}
.panel {
    border-radius: 0.5em;
    background-color: hsla(var(--twc-gray-950), 1); /* Use hsla() for opacity */
}
.active-bttn{
    background-color: hsla(var(--twc-gray-850), 1);
}
.bttn-group {
    background-color: hsla(var(--twc-gray-900), 1); /* Use hsla() for opacity */
    padding: 0.25rem;
    border-radius: 0.375rem;
    display: flex;
    
}
.bttn-group > button{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.375rem;

    

}
.bttn-group > button> div{
   line-height: 1rem;
   font-weight: bold !important;
   font-size: 11px;
    
}
